body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
}
h1{
    text-align: center;
    padding-bottom: 5%;
}
h2{
    text-align: center;
    padding-bottom: 2%;
}
li{
    padding: 0.2%;
}
#homeLink{
    font-size: 1.4em;
    font-weight: bold;
}