html{
 background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
       background-color: white;
       border: 5px solid white;
}
header{
    background-color: teal;
    color: white;
    margin: 0 auto;
    padding-top: 20px;
}
header h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 10px;
}
h2, p{
    margin-left: 50px;
}

nav ul{
    list-style-type: none;
    margin: 0 ;
    padding: 5px;
}
nav ul li{
    display: inline-block;
    margin: 0 auto;
}
nav a{
    color: #005555;
    padding: 5px 50px;
    text-decoration: none;
}
nav a:link{
    background-color: #99dddd;
}
nav a:hover{
    background-color: white;
}
nav a:active{
    background-color: teal;
    color: white;
}
.active{
    background-color: white;
}

main{
    float: left;
    width: 55%;
    padding-right: 15%;
}

#news{
    margin-left: 15%;
    width: 60%;
}
#news article{
    float: none;
    width: 100%;
}
#news h2{
    margin-top: 40px;
}

#news figcaption{
    text-align: center;
}
#news figure img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#news-sidebar{
    margin-top: 18px;
    width: 30%;
    color: white;
    overflow: hidden;
    background-color: teal;
    padding-bottom: 200px;
}
#news-sidebar article{
    float: none;
    width: 90%;
}
#news-sidebar h2{
    margin: 5px 0 0 5%;
    text-decoration: underline;
    font-size: 1.5em;
}
#news-sidebar h3{
    text-align: left;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 1.1em;
}
#news-sidebar p, #news-sidebar h3{
    margin-left: 30px;
}
footer{
    background-color: teal;
    color: white;
}
#news-sidebar a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
#news-sidebar a:hover{
    background-color: white;
    color: teal;
}

footer{
    clear: both;
    margin-top: 10px;
    padding: 30px 60px 30px 30px;
}
footer > ul{
    padding-top: 0;
    margin: 0;
    float: left;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    background-color: white;
    color: teal
}
footer p{
    padding: 0 0 0 50%;
    margin: 0;
    width: 50%;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}
table,thead,td{
    border: 1px solid teal;
}
thead{
    background-color: teal;
    text-align: left;
    color: white;
}
tbody{
    background-color: #99dddd;
}
tbody tr:nth-child(even){
    background-color: white;
}
tbody tr:hover{
    background-color: #669999
}

th,td{
    padding: 5px;
}
caption{
    font-weight: bold;
}

#our-team{
    margin: 0;
    width: 60%;
    float: left;
    padding-right: 10%;
}
#our-team h3{
    text-align: center;
}
#our-team img{
    display: block;
    width: auto;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
#our-team section{
    padding-top: 40px;
}