
.ui.grid.container {
    width: auto !important;
    margin-top: 20px;
}

.item span{
    font-style: italic;
    text-align: right;
    font-weight: bold;
}
.ui.selection.dropdown .menu > .item {
    border-top: none;
}