footer.ui.centered.container.grid{
    margin-top: 20px;
}

footer.ui.centered.container.grid a{
    color: white;
}

.five.wide.right.floated.teal.column p{
    margin-bottom: 20px;
    font-size: 1.5em;
}

.five.wide.right.floated.teal.column a{
    font-size: 1.8em;
}